body{
    background-color: #558C89;
    text-align: center;
    color: #FDF3E7;
}

h1, .searchContainer{
    font-size: 2em;
}
.display{
    border: 1px solid black;
    width: 80%;
    background-color: #3B3738;
    padding: 5px;
    margin: 0 auto;
    border-bottom: 3px solid black;
}
a{
    margin: 10px;
    color: cornflowerblue;
}
.searchtextbox{
    height: 40px;
    width: 210px;

}
.search{
    font-size: 11px;
    background-color: cornflowerblue;
    border: none;
    margin-left: -8px;
    padding: 16px;
    font-weight: bold;
}
#searchResult{
    margin-top: 35px;
}